.cards {
    display: grid;
    width: 1280px;
    height: 970px;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(33, 33, 33, 0.4);
    border-style: solid;
    gap: 20px;
    padding: 0 0 40px 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 445px;
    position: relative;
}

.card p {
    margin: 0;
}

.card__text-icon {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card__image {
    width: 413px;
    height: 413px;
    border-radius: 8px;
}

.card__like-image {
    width: 23px;
    height: 20px;
}

.card__text {
    width: 119px;
    height: 24px;
}