.card {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 445px;
    position: relative;
}

.card p {
    margin: 0;
}

.card__text-icon {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card__image {
    width: 413px;
    height: 413px;
    border-radius: 8px;
}

.card__like-button {
    width: 23px;
    height: 20px;
    background-image: url('../images/Union.svg');
    border: none;
    background-color: #FCF5E5;
}

.card__text {
    max-width: 330px;
    height: 24px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}