.nav {
    max-width: 1440px;
    height: 46px;
    padding: 10px 80px 10px 80px;
    background: #FFFFFFCC;
    margin: auto;
}

.nav__content {
    width: 94px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav img {
    width: 10px;
    height: 16px;
}

.nav p {
    width: 76px;
    height: 26px;
    margin: 0;
}